### Files ignored by git ###

# build, install and logs folders
cmake-build-release
cmake-build-debug
logs
install/bin
install/include
install/lib
install/.condarc
install/miniconda
install/miniconda.sh

# CMakeLists of files
cpp/test/CMakeLists.txt
cpp/src/CMakeLists.txt
CMakeLists.txt.user

# conda environment
!.readthedocs.yml
!docs/sphinx_env.yml

# For PuMA development with different IDEs (CLion, qtcreator)
.idea
.vs
debug/*
release/*
.DS_Store
.creator
.creator.*
.config
.files
.includes
._*
*.swp

# python and cython
__pycache__
dist
build
*.so
pumapy.egg-info
.eggs
main.py

# jupyter notebooks
.ipynb_checkpoints

# pumapy
install/TexGen/bin
python/pumapy/generation/weave_3mdcp
_trial_temp*
python/tutorials/out

# GUI
.qmake.stash
tmp-gui-ws.vtk
gui/build/*
!gui/build/pumaGUI.pro

# docs
docs/source/cpp_api/
docs/source/doxyoutput/
docs/source/files/
docs/source/tutorials/
