### Files ignored by git ###

# build, install and logs folders
cmake-build-release
cmake-build-debug
logs
install/bin/*
!install/bin/pumaGUI
install/include
install/lib

# GUI
.qmake.stash
gui/src/pyscripts/GUIworkspace.vtk

# CMakeLists of files
CMakeLists.txt
!cpp/CMakeLists.txt

# conda environment
*.yml
!.readthedocs.yml
!docs/sphinx_env.yml

# For PuMA development with different IDEs (CLion, qtcreator)
.idea
.vs
CMakeLists.txt.user
debug/*
release/*
.DS_Store
.creator
.creator.*
.config
.files
.includes
._*

# python and cython
__pycache__
dist
build
*.c
*.so
pumapy.egg-info
main.py

# jupyter notebooks
.ipynb_checkpoints

# pumapy
install/TexGen
python/pumapy/generation/weave_3mdcp
_trial_temp*

# docs
docs/_build
