Joseph Ferguson <joseph.ferguson@stanford.edu> <jcferguson10@gmail.com> 
Joseph Ferguson <joseph.ferguson@stanford.edu> jcfergus <joseph.ferguson@stanford.edu>
Joseph Ferguson <joseph.ferguson@stanford.edu> <josephferguson@Josephs-MacBook-Pro.local>
Joseph Ferguson <joseph.ferguson@stanford.edu> jcfergu <joseph.ferguson.stanford.edu>
Joseph Ferguson <joseph.ferguson@stanford.edu> parallels <joseph.ferguson@stanford.edu>
Joseph Ferguson <joseph.ferguson@stanford.edu> jcfergu <joseph.ferguson@stanford.edu>
Federico Semeraro <federico.semeraro@nasa.gov> fsemeraro6 <fsemeraro6@gatech.edu>
Federico Semeraro <federico.semeraro@nasa.gov> <federicosemeraro94@gmail.com>