Build/
64-bitBuild/
LinuxBuild/
BuildVTK6/
BuildWidgets3/
BuildVS2015/
Installer/OpenCascade64bit/
Installer/OpenCascade64bit_7/
Installer/Python_64bit/
Installer/Python27Lib/
Installer/*.exe
!Installer/CFXImportVTK.exe
Installer/*.dll
Installer/*.pyd
Installer/*.manifest
Docs/TexGen.chm
Docs/html/
Python/*.py
Python/*.zip
Python/*_wrap.*

# Directories #
Binaries
CMakeFiles
.vs
Scripts

.DS_Store
bin
install

